
<header class="masthead d-flex align-items-center">
  <div class="container px-4 px-lg-5 text-center">
    <h1 class="mb-1">The Community Exchange</h1>
    <h3 class="mb-5"><em>Supporting Creativity and Connecting our Community</em></h3>
    <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
  </div>
</header>

<section class="content-section bg-light" id="about">
  <div class="container px-4 px-lg-5 text-center">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-10">
        <h2>Free Art + Craft Supplies for Everyone!</h2>
        <p class="lead mb-5">
          We are a community organization for sharing new and gently-used art and craft supplies to find community, spread creativity, and encourage sustainability.
          All of our supplies are shared through community donations, and everyone is welcome to participate, regardless of what they can give.
        </p>
        <a class="btn btn-dark btn-xl" href="#participate">Join Us</a>
      </div>
    </div>
  </div>
</section>

<section class="content-section bg-primary text-white text-center" id="participate">
  <div class="container px-4 px-lg-5">
    <div class="content-section-heading">
      <h2 class="mb-5">How To Participate</h2>
    </div>
    <div class="row gx-4 gx-lg-5">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <a href="#next-event"><span class="service-icon rounded-circle mx-auto mb-3"><i class="fa-solid fa-location-dot"></i></span></a>
        <h4><strong>Attend an Exchange</strong></h4>
        <p class="text-faded mb-0">Find new-to-you Supplies!</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <a href="#donations"> <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-heart"></i></span></a>
        <h4><strong>Donate Supplies</strong></h4>
        <p class="text-faded mb-0">Donate items you don't use</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <a href=""><span class="service-icon rounded-circle mx-auto mb-3"><i class="fa-solid fa-hand-holding-dollar"></i></span></a>
        <h4><strong>Donate Funds</strong></h4>
        <p class="text-faded mb-0">
          Financially support the Art Supply Exchange
        </p>
      </div>
      <div class="col-lg-3 col-md-6">
        <a href="#faqs"><span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-question"></i></span></a>
        <h4><strong>FAQs</strong></h4>
        <p class="text-faded mb-0">I have a question...</p>
      </div>
    </div>
  </div>
</section>

<section class="content-section bg-light" id="next-event">
  <div class="container px-4 px-lg-5 text-center">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-10">
        <h2 class="mx-auto mb-5">Upcoming Events</h2>
      </div>
      <div>
        <h5 class="lead mb-5">Exchanges held at the Oak Park Main Public Library</h5>
        <h4>Announcing Date Soon</h4>
        <h4>10am - 2pm</h4>
        <br>
        <p class="lead mb-5">Donations are not required to participate.</p>
      </div>
    </div>
  </div>
</section>

<section class="content-section bg-primary text-white" id="donations">
  <div class="container px-4 px-lg-5">
    <div class="content-section-heading text-center">
      <h3 class="mb-5">What To Donate at an Exchange</h3>
      <p>We accept new or gently-used art and craft supplies in these categories:</p>
    </div>
      <ul>
        <li>fabric</li>
        <li>notions (needles, thread, pins, buttons, zippers, bias tape, ribbon)</li>
        <li>yarn</li>
        <li>needles (knitting, crochet, latch hook)</li>
        <li>canvases</li>
        <li>paints (oil, acrylic, poster, fingerpainting)</li>
        <li>paintbrushes</li>
        <li>paper</li>
        <li>sketchbooks</li>
        <li>pencils, charcoal, pastels</li>
        <li>markers, crayons, coloring books</li>
        <li>cutting tools</li>
        <li>all types of glue</li>
        <li>stickers</li>
        <li>small toys</li>
        <li>scrapbooking paper</li>
        <li>jewelry-making</li>
        <li>craft kits</li>
        <li>instructional and pattern books</li>
        <li>school and office supplies</li>
      </ul>
  </div>
</section>

<section class="content-section bg-light" id="faqs">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-10">
        <h2 class="text-center">FAQs</h2>
        <ol class="lead mb-5">
          <li>How much do art supplies cost at the exchange?</li>
          <p>It's all FREE! Come pick out anything you need.</p>
          <li>Is everything old?</li>
          <p>Nope, there are also new items, gently-used items, and vintage items.</p>
          <li>Do you accept canvases that are already painted on?</li>
          <p>Absolutely! Whomever takes it home will modify it to their creative use.</p>
          <li>What happens to all the donations that remain at the end of the exchange?</li>
          <p>We rent a storage unit to store the supplies between events.</p>
          <li>Where can I donate supplies before the exchange?</li>
          <p>To make arrangements, email info@communityexchange.art</p>
        </ol>
      </div>
    </div>
  </div>
</section>
