 <!-- Footer-->
<footer class="footer text-center">
  <div class="container px-4 px-lg-5">
    <ul class="list-inline mb-5">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="mailto:info@communityexchange.art" target="_blank"><i class="fa-regular fa-envelope"></i></a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/communityartsupplyexchange" target="_blank"><i class="icon-social-facebook"></i></a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="https://www.instagram.com/artsupplyexchange/" target="_blank"><i class="icon-social-instagram"></i></a>
      </li>
    </ul>
    <p class="text-muted small mb-0">
      <span class="copyright border rounded-3">Copyright &copy; 2025 The Community Exchange</span><br>
      <a href="https://art.us21.list-manage.com/unsubscribe?u=8e8bfbe077cafe39e62a14d2c&id=c608b4cd7a&t=1" target="_blank">Unsubscribe</a>
    </p>
  </div>
</footer>
